<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        |    Zoff                                                         |
        |    Project is on github: https://github.com/zoff-music/Zoff     |
        |    Made by: Kasper Rynning-Tønnesen and Nicolas Almagro Tonne   |
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <title>Zoff - the shared YouTube and SoundCloud based radio</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Nicolas 'Nixo' Almagro Tonne &amp; Kasper 'KasperRT' Rynning-Tønnesen"/>
        <meta name="description" content="The shared (free) YouTube and SoundCloud radio."/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#2D2D2D" />
        <meta property="og:image" content="{{og_image}}" />
        <meta property="og:url" content="https://zoff.me" />
        <meta property="og:title" content="Zoff"/>
        <meta property="og:description" content="The Shared (free) YouTube and SoundCloud radio."/>
        <meta property="og:type" content="{{type}}"/>
        <meta property="fb:app_id" content="1581693815380949" />
        <link rel="manifest" href="/assets/manifest.json">
        {{#unless embed}}
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
            <link rel="icon" id="favicon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
            <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#2d2d2d">
        {{/unless}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/dist/{{stylesheet}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
        {{#unless embed}}
            <script>
                if(window.location.hostname.indexOf("localhost") < 0) {
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', '{{{ analytics }}}', 'auto');
                } else {
                    function ga() {

                    }
                }
            </script>
        {{/unless}}
    </head>
    <body class="noselect">
        {{{body}}}
        {{#unless embed}}
            {{#unless client}}
                <div class="tap-target" data-target="castButton">
                    <div class="tap-target-content">
                        <h5>Chromecast</h5>
                        <p>This site supports chromecasting!</p>
                    </div>
                </div>
            {{/unless}}
            {{> modal/cookie}}
            {{> contact}}
            {{> donate}}
            {{> footer}}
            <textarea class="copy_video_id" style="display:none;"></textarea>
            <ul class="context-menu-list context-menu-root hide">
                <li class="context-menu-item copy-context-menu">
                    <span>Copy link</span>
                </li>
                <li class="context-menu-item find-context-menu">
                    <span>Find Similar</span>
                </li>
                <li class="context-menu-item context-menu-separator context-menu-not-selectable">
                </li>
                <li class="context-menu-item delete-context-menu context-menu-disabled">
                    <span>Delete</span>
                </li>
            </ul>
            <div id="context-menu-overlay" class="hide"></div>
        {{/unless}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
        <script type="text/javascript" src="/assets/dist/{{javascript_file}}"></script>
        {{#unless embed}}
            <script async type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
        {{/unless}}
        {{#if adds}}
            <script type="text/javascript" async> var infolinks_pid = {{adsense}}; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
        {{/if}}
    </body>
</html>
