<!DOCTYPE html>
<html>
  <head>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    |    Zoff                                                         |
    |    Project is on github: https://github.com/zoff-music/Zoff     |
    |    Made by: Nicolas Almagro Tonne and Kasper Rynning-Tønnesen   |
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <title>Zoff - the shared YouTube based radio</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Nicolas 'Nixo' Almagro Tonne &amp; Kasper 'KasperRT' Rynning-Tønnesen"/>
    <meta name="description" content="The Shared (free) YouTube radio."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2D2D2D" />
    <meta property="og:image" content="https://zoff.me/assets/images/favicon.png" />
    <meta property="og:url" content="https://zoff.me" />
    <meta property="og:title" content="Zoff"/>
    <meta property="og:description" content="The Shared (free) YouTube radio."/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="1581693815380949" />
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" title="Default" />
    <link rel="icon" id="favicon" type="image/png" href="/assets/images/favicon.png"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64341767-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script type="text/javascript" src="/assets/dist/lib/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/color-thief.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/sha256.js"></script>
    <script type="text/javascript" src="/assets/dist/lib/aes.js"></script>
    <script type="text/javascript" src="/assets/dist/{{javascript_file}}"></script>
  </head>
  <body class="noselect">
    {{{body}}}
    <div class="tap-target" data-activates="castButton">
        <div class="tap-target-content">
          <h5>Chromecast</h5>
          <p>This site supports chromecasting!</p>
        </div>
      </div>
    <div id="contact" class="modal">
                <div class="modal-content">
                    <h4>Contact</h4>
                    <div id="contact-container">
                        <form id="contact-form" method="post" onsubmit="return false;">
                          <div class="input-field">
                            <input id="contact-form-from" name="from" type="email" autocomplete="off" class="validate" />
                            <label for="contact-form-from" class="noselect">Email</label>
                          </div>
                          <div class="input-field">
                            <input id="contact-form-message" name="message" type="text" autocomplete="off">
                            <label for="contact-form-message" class="noselect">Message</label>
                          </div>
                            <div class="valign hide" id="send-loader">
                                 <div class="preloader-wrapper small active">
                                  <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div><div class="gap-patch">
                                      <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div><div class="gap-patch">
                                      <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div><div class="gap-patch">
                                      <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>

                                  <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                      <div class="circle"></div>
                                    </div><div class="gap-patch">
                                      <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                      <div class="circle"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="waves-effect waves-green btn-flat" id="submit-contact-form">Send</button>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Close</a>
                </div>
            </div>
    <footer class="page-footer cursor-default">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Zoff</h5>
                    <p class="grey-text text-lighten-4">The shared YouTube radio</p>
                    <p class="grey-text text-lighten-4">
                        Being built around the YouTube search and video API
                        it enables the creation of collaborative and shared live playlists,
                        with billions of videos and songs to choose from, all for free and without registration.
                        <br />
                        Enjoy!
                    </p>
                    <ul class="footer-buttons">
                      <li>
                          <a class="modal-trigger waves-effect cyan darken-2 btn help-button-footer" title="Need help with the site?" data-target="help">
                            <i class="material-icons left footer-button-icon">help_outline</i>HELP
                          </a>
                      </li>
                      <li>
                        <a class="modal-trigger waves-effect blue-grey darken-2 btn help-button-footer hide-on-small-only" id="embed-button" title="Want to embed this channel?" data-target="embed">
                            <i class="material-icons left footer-button-icon">code</i>EMBED
                        </a>
                      </li>
                      <li>
                        <a class="modal-trigger waves-effect red darken-2 btn help-button-footer" id="contact-button" title="Contact us" data-target="contact">
                        <i class="material-icons left footer-button-icon">email</i>CONTACT
                        </a>
                      </li>
                    </ul>
                    <p id="latest-commit" class="grey-text text-lighten-4"></p>
                </div>
                <div class="col l4 offset-l2 s12 valign-wrapper">
                    <ul class="footer-buttons">
                        <li>
                            <a id="facebook-code-link" class="waves-effect waves-light btn light-blue share shareface" href="https://www.facebook.com/sharer/sharer.php?u=https://zoff.me/{{list_name}}" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://zoff.me/{{list_name}}','Share Playlist','width=600,height=300')">
                                <img class="left" src="/assets/images/facebook.png" alt="Share on Facebook" />Share on&nbsp;Facebook
                            </a>
                        </li>
                        <li>
                            <a id="twitter-code-link" class="waves-effect waves-light btn light-blue share" href="http://twitter.com/intent/tweet?url=https://zoff.me/{{list_name}}&amp;text=Check%20out%20this%20playlist%20{{list_name}}%20on%20Z&ouml;ff!&amp;via=zoffmusic" target="popup" onclick="window.open('http://twitter.com/intent/tweet?url=https://zoff.me{{list_name}}&amp;text=Check%20out%20this%20playlist%20{{list_name}}%20on%20Z&ouml;ff!&amp;via=zoffmusic','Share Playlist','width=600,height=300')">
                                <img class="left" src="/assets/images/twitter.png" alt="Share on Twitter" />Share on&nbsp;Twitter
                            </a>
                        </li>
                        <li>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="donate_form">
                              <input type="hidden" name="cmd" value="_s-xclick">
                              <input type="hidden" name="hosted_button_id" value="JEXDYP59N5VWE">
                              <a title="Like what we made? Help us by donating (a) beer!" class="waves-effect waves-light btn orange light-blue share" onclick="document.getElementById('donate_form').submit();">
                              <i class="material-icons left footer-button-icon">payment</i>Donate
                              </a>
                            </form>
                          </li>
                          <li class="google-play-image-list">
                            <a href="https://play.google.com/store/apps/details?id=zoff.me.zoff&hl=no&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                              <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/></a>
                          </li>
                          <li>
                              <div id="qr-code-link" class="hide-on-small-only">
                                  <img id="qr-code-image-link" class="card rounded" src="//chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=https://zoff.me/{{list_name}}&amp;choe=UTF-8&amp;chld=L%7C1" alt="QRCode for link" title="QR code for this page, for easy sharing!" />
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; {{year}}
                <a href="http://nixo.no">Nixo</a> &amp;
                <a href="http://kasperrt.no">KasperRT</a>,
                <br>
                All rights reserved
                <a class="right" href="https://github.com/zoff-music/">Contribute on GitHub</a>
            </div>
        </div>
    </footer>
    <textarea class="copy_video_id" style="display:none;"></textarea>
  </body>
</html>
